.projects {
  display: flex;
  flex-wrap: wrap;
  .section {
    .button {
      font-size: 0.8rem;
      white-space: pre-wrap;
      width: 100px;
      height: 50px;
      margin: 10px;
    }
  }
}
